<div class=" justify-content-center">
  <div class="col">
    <div class="row ">
      
      <div class="col-4 mt-2 justify-content-center" *ngFor="let k of keys">
        <button type="button" class="btn btn-lg  btn-block btn-dark rounded-pill " style="width: 50%;">{{k.key}}</button>

      </div>
      <div class="col-6 mt-2 ">
        <div class="btn-group " role="group" aria-label="Basic example">
          <button type="button" class="btn btn-lg btn-warning rounded-pill" style="margin-left: -4em;margin-right: 1em;">Corrige</button>
          <button type="button" class="btn btn-lg btn-danger rounded-pill">Cancela</button>
          <button type="button" class="btn btn-lg btn-success rounded-pill" style="margin-left: 1em;">Confirma</button>
        </div>
      </div>
        
       
     
    </div>
  </div>
       
</div>
